body {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherBlock {
    width: 330px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background: linear-gradient( #c5eefca6, #8dd1f1b6, #f6b5d67c);
    color: white;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.150);
    transition: all ease 0.5s;
}

.weatherBlock img{
    width: 150px;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
}

.cityInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 15%;
    width: 40%;
    padding: 10px;
    border-bottom: 1px solid white;
}
.cityInput input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}
.cityInput button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    padding: 10px;
}

.locationIcon {
    font-size: 30px;
}

.weatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
}

.weatherInfoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weatherInfo p {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
}
